/*GOOGLE FONTS IMPORT*/
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Montserrat:wght@100;200;300;400;500;700&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,700;0,800;1,600&family=Work+Sans:wght@100;300;500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Lato", sans-serif;
  line-height: 1;
  font-weight: 300;
 background-color: #DAA06D;
}

/*01 TYPOGRAPHY SYSTEM*/
/*
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

 02 COLORS
#9F8170
#6B2900
#AF6E4D
#DAA06D
#E3DAC9
#f0f8ff
#E2F4FF
#9eb9d4
#a1caf1
#6495ed
#0066A5
#00416A

 - Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

/*----------------------*/
/* -- GENERAL STYLES -- */
/*----------------------*/



.secondary-heading {
  font-size: 2rem;
  color: #fbf6f0;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 2rem;
}

.subheading {
  font-size: 1.6rem;
  line-height: 1.6;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.sub-title{
  font-size: 1.4rem;
  line-height: 1.6;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
}

.input-styles{
  padding: 1rem;
  border-radius: 8px;
  border: none;
  background-color: transparent;
  box-shadow:inset 0rem 0.1rem 0.3rem 0.3rem rgba(0, 0, 0, 0.5);
  shad
}


/*----------------*/
/* --- Header ---*/
/*---------------*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 8rem;
  padding: 2rem 3.2rem;
  background: linear-gradient(to right bottom, #1d2d44, #00416A);
  color: #e3dac9;
  width: 100%;
  box-shadow: 0rem 0.5rem 0.5rem rgba(0, 0, 0, 0.5);
}

.logo {
  font-size: 3rem;
  font-weight: 600;
}

.nav-main-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3rem;
}
/*------------------------*/
/* --- MAIN CONTENT --- */
/*------------------------*/

/*------------------------*/
/* --- HOW TO SECTION --- */
/*------------------------*/

.how-to-section {
  padding: 4rem;
}

.how-to-box {
  display: flex;
  gap: 3rem;
  justify-content: space-around;
  background: linear-gradient(to right bottom, #1d2d44, #00416A);
  padding: 2.4rem;
  margin: 2.4rem;
  max-width: 120rem;
  border-radius: 9px;
  box-shadow: 0 2rem 3rem 0.7rem rgba(0, 0, 0, 0.2);
}

.how-to-list {
  color: #e3dac9;
  font-size: 1.2rem;
  line-height: 2;
  letter-spacing: 1.6px;
  text-transform: uppercase;
}

/*------------------*/
/* --- BALANCE --- */
/*-----------------*/

.budget-balance-section{
  padding: 4rem;
}

.budget-balance {
  background: linear-gradient(to right bottom, #432818, #6B2900);
  color: #e3dac9;
  padding: 3.4rem 4.6rem;
  margin: 0 auto;
  max-width: 90rem;
  border-radius: 9px;
  box-shadow: 0 2rem 3rem 0.7rem rgba(0, 0, 0, 0.2);
  
}

.balance-box {
  grid-column: span 2;
}

.budget-and-actual-section{

}

.budget-box, .actual-box{
  background: linear-gradient(to right bottom, #432818, #6B2900);
  color: #e3dac9;
  padding: 3.4rem 4.6rem;
  max-width: 90rem;
  border-radius: 9px;
  box-shadow: 0 2rem 3rem 0.7rem rgba(0, 0, 0, 0.2);
}

.bidget-incomes{
  
}

.b-income{
  list-style: none;
}

.add-income{
  padding: 2rem;
}